In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
data=pd.read_csv('train.csv')

In [5]:
data.drop('Healthcare_1',axis=1,inplace=True)

In [6]:
data.loc[data['HouseYear']>2020]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,0.136330,B,B,30,6141,10,3,6,B,254084.534396
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,0.319809,B,B,25,4756,16,5,8,B,243028.603096

In [7]:
data.loc[data['HouseYear']==20052011,'HouseYear']=2008
data.loc[data['HouseYear']==4968,'HouseYear']=1968

In [8]:
data.loc[data['Rooms']>6]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,10.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,5,15,B,317265.323792
1454,8491,1,19.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,B,B,1,264,0,0,1,B,78364.616704
8849,14865,9,10.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,2,4,B,172329.270863

In [9]:
data.loc[data['Rooms']==10,'Rooms']=2
data.loc[data['Rooms']==19,'Rooms']=1

In [10]:
data.loc[data['Rooms']==0,'Rooms']=1

In [11]:
data.loc[data['Floor']>30]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
339,11563,8,1.0,50.390862,41.642898,0.0,32,32.0,2008,0.092291,B,B,21,4346,2,1,2,B,97480.845791
2781,1674,76,2.0,74.344672,41.044132,5.0,42,48.0,2016,0.000000,B,B,7,1660,39,1,5,B,411691.504766
3330,3298,31,1.0,57.551691,21.551876,10.0,32,40.0,1977,0.151346,B,A,32,5889,10,4,1,B,393799.531732
4323,6589,30,1.0,62.110823,52.812128,4.0,31,44.0,2009,0.000078,B,B,22,6398,141,3,23,B,117647.461002
6755,8296,146,1.0,86.386754,71.904999,0.0,37,38.0,2012,0.236108,B,B,16,3893,27,3,10,B,269113.584248
8357,8016,31,1.0,59.519896,24.050533,10.0,33,40.0,1977,0.151346,B,A,32,5889,10,4,1,B,389554.063540

In [12]:
data.loc[data['HouseFloor']>30]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
339,11563,8,1.0,50.390862,41.642898,0.0,32,32.0,2008,0.092291,B,B,21,4346,2,1,2,B,97480.845791
359,15722,31,2.0,82.435495,48.655394,16.0,23,40.0,2013,0.151346,B,A,32,5889,10,4,1,B,558262.139114
540,5279,93,2.0,60.804544,30.923827,11.0,5,45.0,2016,0.050900,B,B,43,10621,1,2,3,B,213171.135199
1956,15157,54,1.0,106.239622,83.296167,17.0,26,37.0,2009,0.006076,B,B,30,5285,0,6,6,B,274139.065875
1982,5548,86,5.0,275.645284,233.949309,26.0,12,37.0,2011,0.161976,B,A,31,7010,5,3,7,B,455264.882666
2781,1674,76,2.0,74.344672,41.044132,5.0,42,48.0,2016,0.000000,B,B,7,1660,39,1,5,B,411691.504766
3330,3298,31,1.0,57.551691,21.551876,10.0,32,40.0,1977,0.151346,B,A,32,5889,10,4,1,B,393799.531732
3662,1102,54,3.0,101.279843,52.188698,20.0,20,37.0,2014,0.006076,B,B,30,5285,0,6,6,B,124844.932865
3974,6502,20,1.0,126.389517,103.637322,14.0,22,47.0,2012,0.019509,B,B,37,7687,11,5,5,B,450706.552655
4323,6589,30,1.0,62.110823,52.812128,4.0,31,44.0,2009,0.000078,B,B,22,6398,141,3,23,B,117647.461002
4481,7789,146,1.0,60.890931,45.768512,11.0,13,32.0,2011,0.236108,B,B,16,3893,27,3,10,B,227510.033762
4525,14773,30,1.0,105.619549,87.387096,5.0,14,39.0,2010,0.000078,B,B,22,6398,141,3,23,B,476843.942405
5270,6327,146,3.0,75.037085,45.811037,9.0,11,37.0,2010,0.236108,B,B,16,3893,27,3,10,B,288203.450075
5452,11625,84,1.0,102.640234,78.746443,19.0,26,36.0,2012,0.006076,B,B,30,5285,0,6,6,B,342223.033781
5494,300,31,2.0,106.427686,34.230415,32.0,4,40.0,2013,0.151346,B,A,32,5889,10,4,1,B,624549.354546
5653,8500,31,1.0,80.606246,25.299592,29.0,6,40.0,2014,0.151346,B,A,32,5889,10,4,1,B,460492.010947
6131,10806,5,1.0,51.944587,48.709601,1.0,6,99.0,1977,0.150818,B,B,16,3433,4,4,5,B,296127.115515
6459,3302,30,2.0,104.511894,86.460171,6.0,25,39.0,2009,0.000078,B,B,22,6398,141,3,23,B,193885.918114
6755,8296,146,1.0,86.386754,71.904999,0.0,37,38.0,2012,0.236108,B,B,16,3893,27,3,10,B,269113.584248
7728,7453,24,3.0,126.621358,62.455481,12.0,22,48.0,2011,0.111627,B,B,50,12238,8,2,3,B,179396.521035
8060,7763,29,2.0,74.478408,39.382330,11.0,3,32.0,2012,0.069660,B,B,31,6119,4,1,2,B,150745.630583
8340,15270,31,2.0,81.042938,46.633001,16.0,15,40.0,1977,0.151346,B,A,32,5889,10,4,1,B,547586.080087
8357,8016,31,1.0,59.519896,24.050533,10.0,33,40.0,1977,0.151346,B,A,32,5889,10,4,1,B,389554.063540
8599,9300,74,2.0,71.747869,74.579809,9.0,5,99.0,1977,0.075779,B,B,6,1437,3,0,2,B,243329.912579
8763,12642,8,1.0,49.235302,43.066600,1.0,14,32.0,2006,0.219006,B,B,28,6746,3,1,4,B,226498.461649
8824,7496,30,1.0,117.370746,102.187199,6.0,14,40.0,2011,0.000078,B,B,22,6398,141,3,23,B,521829.550445
8854,78,30,2.0,65.773749,66.811789,1.0,8,117.0,1977,0.000078,B,B,22,6398,141,3,23,B,207248.370520
9332,8510,7,2.0,82.390292,40.316798,16.0,2,31.0,2013,0.035145,B,B,42,9292,3,0,3,B,287326.123905

In [13]:
data.loc[data['HouseFloor']==0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,221244.156664
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,0.006076,B,B,30,5285,0,6,6,B,571069.052600
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,0.072158,B,B,2,629,1,0,0,A,337299.867936
39,9371,23,2.0,60.503248,NaN,0.0,16,0.0,1977,0.034656,B,B,0,168,0,0,0,B,229778.057902
44,10521,38,3.0,104.211396,106.340403,0.0,20,0.0,2017,0.060753,B,B,15,2787,2,0,7,B,435462.048070
65,11398,62,1.0,41.194188,NaN,0.0,6,0.0,1977,0.072158,B,B,2,629,1,0,0,A,114063.092041
70,10362,27,2.0,79.227049,NaN,0.0,9,0.0,1977,0.072158,B,B,2,629,1,0,0,A,167023.973143
195,4645,54,2.0,76.312851,NaN,0.0,14,0.0,1977,0.006076,B,B,30,5285,0,6,6,B,466730.805333
223,4622,27,2.0,62.153994,36.094352,0.0,5,0.0,1977,0.072158,B,B,2,629,1,0,0,A,194091.992560
252,8139,27,2.0,58.553809,NaN,0.0,7,0.0,1977,0.072158,B,B,2,629,1,0,0,A,177511.314827
444,6224,59,3.0,106.349245,NaN,0.0,7,0.0,1977,0.019509,B,B,37,7687,11,5,5,B,504820.057913
501,15923,27,1.0,26.553188,NaN,0.0,25,0.0,1977,0.072158,B,B,2,629,1,0,0,A,114256.236153
556,8610,35,1.0,47.410775,NaN,0.0,4,0.0,1977,0.089040,B,B,33,7976,5,0,11,B,218138.095955
562,6916,27,1.0,43.011789,22.158763,0.0,17,0.0,1977,0.072158,B,B,2,629,1,0,0,A,179806.820951
594,8093,45,2.0,62.933064,NaN,0.0,18,0.0,1977,0.195781,B,B,23,5212,6,3,2,B,339455.271154
667,9684,88,3.0,86.431890,NaN,0.0,11,0.0,1977,0.127376,B,B,43,8429,3,3,9,B,341533.892142
700,11548,27,2.0,41.610104,NaN,0.0,7,0.0,1977,0.072158,B,B,2,629,1,0,0,A,120724.056008
730,12947,53,2.0,56.023342,NaN,0.0,14,0.0,1977,0.049637,B,B,34,7759,0,1,3,B,247074.564832
805,15931,1,2.0,77.330279,NaN,0.0,1,0.0,1977,0.007122,B,B,1,264,0,0,1,B,182657.618386
823,1498,45,3.0,83.515103,NaN,0.0,11,0.0,1977,0.195781,B,B,23,5212,6,3,2,B,429445.711752
839,9925,62,1.0,42.805164,NaN,0.0,14,0.0,1977,0.072158,B,B,2,629,1,0,0,A,128889.593406
847,11828,27,1.0,52.539365,NaN,0.0,11,0.0,1977,0.072158,B,B,2,629,1,0,0,A,140577.204332
861,15131,27,2.0,60.299356,NaN,0.0,5,0.0,1977,0.072158,B,B,2,629,1,0,0,A,192309.274140
889,3429,27,1.0,47.020680,NaN,0.0,8,0.0,1977,0.072158,B,B,2,629,1,0,0,A,163649.474447
896,6036,95,1.0,46.248238,NaN,0.0,5,0.0,1977,0.000699,B,B,14,3369,24,0,3,B,516315.770611
900,8940,34,1.0,26.811587,NaN,0.0,18,0.0,1977,0.069753,B,B,53,13670,4,1,11,B,175399.643453
924,11875,6,2.0,65.070052,NaN,0.0,11,0.0,1977,0.243205,B,B,5,1564,0,0,0,B,179219.981625
929,1827,27,1.0,38.037790,NaN,0.0,7,0.0,1977,0.011654,B,B,4,915,0,0,0,B,101365.588283
932,9383,24,2.0,88.407297,NaN,0.0,2,0.0,1977,0.111627,B,B,50,12238,8,2,3,B,427473.921933
942,4711,6,1.0,41.224118,NaN,0.0,8,0.0,1977,0.243205,B,B,5,1564,0,0,0,B,125612.639104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8888,184,23,1.0,56.786709,NaN,0.0,3,0.0,1977,0.014073,B,B,2,475,0,0,0,B,107003.351865
8893,11090,1,1.0,41.197082,40.808976,0.0,12,0.0,1977,0.007122,B,B,1,264,0,0,1,B,127436.921010
8930,11532,23,2.0,55.550541,56.802256,0.0,7,0.0,1977,0.034656,B,B,0,168,0,0,0,B,116068.875171
8954,6581,62,2.0,65.131558,NaN,0.0,11,0.0,1977,0.072158,B,B,2,629,1,0,0,A,156791.155868
8979,13670,22,1.0,87.485627,NaN,0.0,16,0.0,1977,0.118537,B,B,30,6207,1,1,0,B,361744.269547
8996,15661,45,3.0,81.094922,NaN,0.0,15,0.0,1977,0.195781,B,B,23,5212,6,3,2,B,442472.456032
9014,4405,74,2.0,71.207458,NaN,0.0,5,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,244700.814865
9030,8329,62,3.0,86.443771,NaN,0.0,3,0.0,1977,0.072158,B,B,2,629,1,0,0,A,197124.921010
9057,14564,34,4.0,97.524848,97.046136,1.0,20,0.0,2016,0.069753,B,B,53,13670,4,1,11,B,401035.038716
9087,7767,1,2.0,90.856881,NaN,0.0,11,0.0,1977,0.007122,B,B,1,264,0,0,1,B,287460.543713
9092,13884,45,2.0,62.460577,NaN,0.0,5,0.0,1977,0.195781,B,B,23,5212,6,3,2,B,349101.623151
9122,9150,6,1.0,43.067590,NaN,0.0,18,0.0,1977,0.243205,B,B,5,1564,0,0,0,B,126401.276372
9199,8755,62,2.0,79.329878,NaN,0.0,17,0.0,1977,0.072158,B,B,2,629,1,0,0,A,202549.009085
9219,1737,23,1.0,59.963701,NaN,0.0,9,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,171461.857684
9268,13665,62,2.0,57.717659,NaN,0.0,10,0.0,1977,0.072158,B,B,2,629,1,0,0,A,176072.619971
9312,12761,27,1.0,37.667044,15.894112,8.0,9,0.0,1977,0.017647,B,B,2,469,0,0,0,B,115037.087485
9359,842,74,1.0,52.133425,NaN,0.0,18,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,189274.011249
9395,16371,62,3.0,88.961872,NaN,0.0,10,0.0,1977,0.072158,B,B,2,629,1,0,0,A,214155.478531
9432,338,46,5.0,147.709302,NaN,0.0,6,0.0,1977,0.150818,B,B,16,3433,4,4,5,B,352168.955975
9458,3974,23,3.0,70.740638,NaN,13.0,4,0.0,1977,0.005767,B,B,1,388,0,0,0,B,101223.446298
9534,15563,27,2.0,78.553375,NaN,0.0,7,0.0,1977,0.072158,B,B,2,629,1,0,0,A,181955.274013
9573,805,27,3.0,80.701454,NaN,0.0,12,0.0,1977,0.211401,B,B,9,1892,0,0,1,B,174758.681454
9593,2553,62,2.0,56.560809,NaN,0.0,9,0.0,1977,0.072158,B,B,2,629,1,0,0,A,153997.912192
9606,12136,1,1.0,51.953707,NaN,0.0,2,0.0,1977,0.007122,B,B,1,264,0,0,1,B,148682.719427
9628,14936,27,3.0,103.587261,NaN,0.0,8,0.0,1977,0.072158,B,B,2,629,1,0,0,A,225901.938089
9707,12302,30,1.0,46.072913,48.307844,0.0,4,0.0,1977,0.000078,B,B,22,6398,141,3,23,B,161403.094034
9769,9384,59,3.0,98.607328,NaN,0.0,14,0.0,1977,0.019509,B,B,37,7687,11,5,5,B,492700.257473
9878,11441,62,2.0,71.985335,72.453232,0.0,5,0.0,1977,0.072158,B,B,2,629,1,0,0,A,158841.624543
9908,3171,62,1.0,35.873961,NaN,0.0,25,0.0,1977,0.072158,B,B,2,629,1,0,0,A,134379.130962
9944,16160,27,2.0,60.396765,NaN,0.0,10,0.0,1977,0.072158,B,B,2,629,1,0,0,A,211810.600728

In [14]:
data.loc[data['Id']==10806,'HouseFloor']=9
data.loc[data['Id']==9300,'HouseFloor']=9
data.loc[data['Id']==78,'HouseFloor']=17

In [15]:
data.loc[data['HouseFloor']==0,'HouseFloor']=data['HouseFloor']+2

In [16]:
def prepare_square(df):
    df.loc[df['Square']>(df['Rooms']*40+20),'Square']=df['Rooms']*40+20
    df.loc[df['Square']<(df['Rooms']*15),'Square']=df['Rooms']*15
    return df

In [17]:
def join_stats1(df,stats1,source_df,mode='train'):
    df=pd.merge(df,stats1,on=['DistrictId','Square_Stat'],how='left')
    #    df=pd.merge(df,stats1,on=['DistrictId','Rooms','HouseYear','Floor'],how='left') -  

    if mode=='test':
        df['mean_price']=df['mean_price'].fillna(source_df['mean_price'].mean())
    return df

In [18]:
data=prepare_square(data)

In [19]:
data.loc[:,'Square_Stat'] = pd.Series(np.zeros(len(data['DistrictId'])), index=data.index)
n=4
n_square_stat=10
a=[i*10 for i in range(0,n+int((data['Square'].max())/n_square_stat))]
a
b=[]
j=0
for i in range(1,len(a),n):
    b.append(a[i])
    j+=1
    data.loc[(data['Square']>=a[i-n])&(data['Square']<=a[i]),'Square_Stat']=j-1
data.head(10)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price,Square_Stat
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,0,11,B,184966.930730,1.0
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,1,16,B,300009.450063,2.0
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,1,3,B,220925.908524,1.0
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,0,5,B,175616.227217,2.0
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2,4,B,150226.531644,1.0
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,0.309479,B,B,35,7715,4,0,6,B,215898.447742,2.0
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,0.460556,B,B,20,4386,14,1,5,B,296021.204377,2.0
7,11993,74,2.0,80.312926,NaN,0.0,14,2.0,1977,0.075779,B,B,6,1437,3,0,2,B,221244.156664,2.0
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,0,1,B,229102.795999,2.0
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,0.075779,B,B,6,1437,3,0,2,B,95380.220993,1.0

In [20]:
stats1=data.groupby(['DistrictId','Square_Stat'],as_index=False)[['Price']].mean().rename(columns={'Price':'mean_price'})

In [21]:
data=join_stats1(data,stats1,data)

In [22]:
features_keys=['Rooms','Square','LifeSquare','KitchenSquare','mean_price','Ecology_2',
               'Ecology_3','Floor','HouseFloor','DistrictId','HouseYear', 'Social_1',
               'Social_2','Social_3','Helthcare_2','Shops_1','Shops_2','Price']

In [23]:
train,valid=train_test_split(data.loc[:,features_keys],test_size=0.30, random_state=42)

In [24]:
train.shape, valid.shape

((7000, 18), (3000, 18))

In [25]:
scaler=StandardScaler()

In [26]:
def prepare_kitchen_square(df):
    df.loc[df['KitchenSquare']>(df['LifeSquare']-10),'KitchenSquare']=12
    df.loc[(df['KitchenSquare']<5)&(df['HouseYear']<1990),'KitchenSquare']=6
    df.loc[(df['KitchenSquare']<5)&(df['HouseYear']>=1990),'KitchenSquare']=10
    return df

In [27]:
def prepare_life_square(df):
    df.loc[df['LifeSquare']>df['Square'],'LifeSquare']=df['Square']-df['KitchenSquare']-10
    df.loc[df['LifeSquare']<10,'LifeSquare']=df['Square']-df['KitchenSquare']-5
    df.loc[df['LifeSquare']<10,'LifeSquare']=df['Square']-df['KitchenSquare']
    return df

In [28]:
def fillna_lifesquare(df,df_source):
    df['LifeSquare']=df['LifeSquare'].fillna(df_source['LifeSquare'].mean())
    #df['LifeSquare']=df['LifeSquare'].fillna(df_source['LifeSquare'].median())
    return df

In [29]:
def dummies(df,features='features_keys'):
    df[features]=df[features].astype(object)
    df=pd.get_dummies(df)
    return df

In [30]:
features_keys=['Ecology_2','DistrictId']

In [31]:
train=prepare_kitchen_square(train)
train=prepare_life_square(train)
train=fillna_lifesquare(train,train)
train=dummies(train,features=features_keys)

In [32]:
#train['Rooms']=scaler.fit_transform(train.loc[:,['Rooms']])
train['Square']=scaler.fit_transform(train.loc[:,['Square']])
train['LifeSquare']=scaler.fit_transform(train.loc[:,['LifeSquare']])
train['KitchenSquare']=scaler.fit_transform(train.loc[:,['KitchenSquare']])
train['HouseFloor']=scaler.fit_transform(train.loc[:,['HouseFloor']])
train['HouseYear']=scaler.fit_transform(train.loc[:,['HouseYear']])

In [33]:
from sklearn.ensemble import RandomForestRegressor as RF

In [34]:
model3=RF(n_estimators=180,max_depth=10,min_samples_leaf=5,random_state=32)

In [35]:
feats=train.columns

In [36]:
feats=feats.drop(['Price','DistrictId_175','DistrictId_16','DistrictId_65','DistrictId_112','DistrictId_117',
          'DistrictId_131','DistrictId_153','DistrictId_162','DistrictId_172','DistrictId_180','DistrictId_186',
          'DistrictId_188','DistrictId_189','DistrictId_195','DistrictId_199',
                      'DistrictId_205','DistrictId_209','DistrictId_164',
                     'DistrictId_50','DistrictId_117','DistrictId_133','DistrictId_158','DistrictId_162',
               'DistrictId_195','DistrictId_199','DistrictId_201',
               'DistrictId_202','Social_1','Social_2','Social_3','Shops_1'])

In [37]:
for i in feats:
    print(i)

Rooms
Square
LifeSquare
KitchenSquare
mean_price
Floor
HouseFloor
HouseYear
Helthcare_2
Ecology_2_A
Ecology_2_B
Ecology_3_A
Ecology_3_B
DistrictId_0
DistrictId_1
DistrictId_2
DistrictId_3
DistrictId_4
DistrictId_5
DistrictId_6
DistrictId_7
DistrictId_8
DistrictId_9
DistrictId_10
DistrictId_11
DistrictId_12
DistrictId_13
DistrictId_14
DistrictId_15
DistrictId_17
DistrictId_18
DistrictId_19
DistrictId_20
DistrictId_21
DistrictId_22
DistrictId_23
DistrictId_24
DistrictId_25
DistrictId_26
DistrictId_27
DistrictId_28
DistrictId_29
DistrictId_30
DistrictId_31
DistrictId_32
DistrictId_33
DistrictId_34
DistrictId_35
DistrictId_36
DistrictId_37
DistrictId_38
DistrictId_39
DistrictId_40
DistrictId_41
DistrictId_42
DistrictId_43
DistrictId_44
DistrictId_45
DistrictId_46
DistrictId_47
DistrictId_48
DistrictId_49
DistrictId_51
DistrictId_52
DistrictId_53
DistrictId_54
DistrictId_55
DistrictId_56
DistrictId_57
DistrictId_58
DistrictId_59
DistrictId_60
DistrictId_61
DistrictId_62
DistrictId_63
DistrictId_64
DistrictId_66
DistrictId_67
DistrictId_68
DistrictId_69
DistrictId_70
DistrictId_71
DistrictId_72
DistrictId_73
DistrictId_74
DistrictId_75
DistrictId_76
DistrictId_77
DistrictId_78
DistrictId_79
DistrictId_80
DistrictId_81
DistrictId_82
DistrictId_83
DistrictId_84
DistrictId_85
DistrictId_86
DistrictId_87
DistrictId_88
DistrictId_89
DistrictId_90
DistrictId_91
DistrictId_92
DistrictId_93
DistrictId_94
DistrictId_95
DistrictId_96
DistrictId_97
DistrictId_98
DistrictId_99
DistrictId_100
DistrictId_101
DistrictId_102
DistrictId_103
DistrictId_104
DistrictId_105
DistrictId_106
DistrictId_107
DistrictId_108
DistrictId_109
DistrictId_110
DistrictId_111
DistrictId_113
DistrictId_114
DistrictId_115
DistrictId_116
DistrictId_118
DistrictId_119
DistrictId_120
DistrictId_121
DistrictId_122
DistrictId_123
DistrictId_124
DistrictId_125
DistrictId_126
DistrictId_127
DistrictId_128
DistrictId_129
DistrictId_130
DistrictId_132
DistrictId_134
DistrictId_135
DistrictId_136
DistrictId_137
DistrictId_138
DistrictId_139
DistrictId_140
DistrictId_141
DistrictId_142
DistrictId_143
DistrictId_144
DistrictId_145
DistrictId_146
DistrictId_147
DistrictId_148
DistrictId_149
DistrictId_150
DistrictId_151
DistrictId_152
DistrictId_154
DistrictId_155
DistrictId_156
DistrictId_157
DistrictId_159
DistrictId_160
DistrictId_161
DistrictId_163
DistrictId_165
DistrictId_166
DistrictId_167
DistrictId_168
DistrictId_169
DistrictId_170
DistrictId_171
DistrictId_173
DistrictId_176
DistrictId_177
DistrictId_178
DistrictId_179
DistrictId_181
DistrictId_182
DistrictId_183
DistrictId_184
DistrictId_185
DistrictId_187
DistrictId_190
DistrictId_191
DistrictId_192
DistrictId_193
DistrictId_194
DistrictId_200
DistrictId_208
Shops_2_A
Shops_2_B

In [38]:
%%time
model3.fit(train.loc[:,feats],train['Price'])

Wall time: 11.1 s

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=5, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=180, n_jobs=None,
           oob_score=False, random_state=32, verbose=0, warm_start=False)

In [39]:
valid=prepare_kitchen_square(valid)
valid=prepare_life_square(valid)
valid=fillna_lifesquare(valid,valid)
valid=dummies(valid,features=features_keys)

In [40]:
valid['Square']=scaler.fit_transform(valid.loc[:,['Square']])
valid['LifeSquare']=scaler.fit_transform(valid.loc[:,['LifeSquare']])
valid['KitchenSquare']=scaler.fit_transform(valid.loc[:,['KitchenSquare']])
valid['HouseFloor']=scaler.fit_transform(valid.loc[:,['HouseFloor']])
valid['HouseYear']=scaler.fit_transform(valid.loc[:,['HouseYear']])

In [41]:
y_pred=model3.predict(valid.loc[:,feats])

In [42]:
from sklearn.metrics import r2_score as r2

In [43]:
r2(valid['Price'],y_pred)

0.7432059522893717

0.7271479471555483 - 50
0.7420121274581588

In [44]:
r2(train['Price'],model3.predict(train.loc[:,feats]))

0.8592780916929609

In [45]:
test=pd.read_csv('test.csv')

In [46]:
test=prepare_square(test)

In [47]:
test.loc[:,'Square_Stat'] = pd.Series(np.zeros(len(test['DistrictId'])), index=test.index)
n=4
n_square_stat=10
a=[i*10 for i in range(0,n+int((test['Square'].max())/n_square_stat))]
a
b=[]
j=0
for i in range(1,len(a),n):
    b.append(a[i])
    j+=1
    test.loc[(test['Square']>=a[i-n])&(test['Square']<=a[i]),'Square_Stat']=j-1
test.head(10)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Square_Stat
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B,1.0
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,2.0
2,5480,190,1.0,15.000000,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B,1.0
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B,2.0
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A,1.0
5,7633,53,1.0,40.675627,NaN,1.0,21,21.0,1977,0.049637,B,B,34,7759,0,229.0,1,3,B,1.0
6,13329,23,2.0,68.099538,64.843025,1.0,2,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,2.0
7,5502,32,2.0,48.193897,32.857644,6.0,5,14.0,1972,0.135650,B,B,46,7960,6,350.0,3,11,B,1.0
8,4220,96,3.0,72.277106,45.968758,9.0,17,17.0,1997,0.041116,B,B,53,14892,4,NaN,1,4,B,2.0
9,11538,6,3.0,80.219400,47.660260,9.0,13,17.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,2.0

In [48]:
test=fillna_lifesquare(test,train)
test=join_stats1(test,stats1,train,mode='test')

test=prepare_kitchen_square(test)
test=prepare_life_square(test)
test=dummies(test,features=features_keys)

In [49]:
#test['Rooms']=scaler.fit_transform(test.loc[:,['Rooms']])
test['Square']=scaler.fit_transform(test.loc[:,['Square']])
test['LifeSquare']=scaler.fit_transform(test.loc[:,['LifeSquare']])
test['KitchenSquare']=scaler.fit_transform(test.loc[:,['KitchenSquare']])
test['HouseFloor']=scaler.fit_transform(test.loc[:,['HouseFloor']])
test['HouseYear']=scaler.fit_transform(test.loc[:,['HouseYear']])

In [50]:
test.drop('Healthcare_1',axis=1,inplace=True)

In [51]:
test['Price']=model3.predict(test.loc[:,feats])

In [52]:
test.loc[:,['Id','Price']].to_csv('KBernatov2_predictions.csv',index=None)

In [53]:
pd.read_csv('KBernatov_predictions.csv')

         Id          Price
0       725  166607.299589
1     15856  239550.492910
2      5480  190375.704213
3     15664  253245.444403
4     14275  136804.935329
5      7633  193422.645929
6     13329  173855.015514
7      5502  217767.092202
8      4220  307686.161657
9     11538  203964.693263
10    15975  262197.267946
11     3310  214204.587487
12     9286  149171.607444
13    11260  186458.179062
14     5214  108961.859428
15    11307  180314.164857
16    13543  372038.170165
17      615  167891.504793
18     3495  220811.023013
19     2321  245086.490310
20    12046  188828.058377
21    16688  145445.729246
22    12694  231608.391424
23      783  156299.913309
24     8968  153834.311757
25    13454  179002.541691
26    12190  226834.761382
27    11160  124567.836748
28    10291  200073.076590
29      891  284878.659713
...     ...            ...
4970   1740  197283.462512
4971   3450  141324.403811
4972  16064  128573.735618
4973   1804  112592.027307
4974   5296  129192.150060
4975   5346  517090.797584
4976   4723  338361.728328
4977    417  160274.781625
4978  15756  164521.564903
4979  14090  181076.785314
4980  14778  271165.202677
4981   2560  179048.234462
4982  12920   81862.393330
4983   8249  126804.641063
4984   7125  163371.420786
4985  11732  146550.665761
4986  13365  282340.322054
4987   5361  368206.541103
4988  15937  320719.461831
4989   2591  188927.750737
4990  15706  194661.271187
4991   2105  224949.705026
4992   7220  319234.322553
4993  14562  197816.409594
4994   6836  179664.741860
4995   8180  242757.576178
4996   4695  139973.960164
4997   5783  308643.542092
4998   4780  188279.444843
4999  12504  177383.885335

[5000 rows x 2 columns]